/* Bold week headers*/
h2 {
  font-weight: 600;
}

/* Space before each day entry */
h3 { 
  margin-top: 1.5rem; 
} 

/* Smaller subsection headers, no space before bullet points */
h5 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
}
